:root {
	--b-font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	--b-font-heading: var(--b-font-main);
	--b-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--b-blossom: #1d7484;
	--b-fade: #982c61;

	--b-txt: #4a4a4a;
	--b-bg-1: #f9f9f9;
	--b-bg-2: #f1f1f1;
	--b-btn-bg: #242933;
	--b-btn-txt: #fff;
	--b-focus: #d8dee9;
}