:root {
	--b-font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	--b-font-heading: var(--b-font-main);
	--b-font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--b-blossom: #D415D4;
	--b-fade: #00ffff;

	--b-txt: #32cd32;
	--b-bg-1: #000000;
	--b-bg-2: #1b1e24;
	--b-btn-bg: var(--b-blossom);
	--b-btn-txt: #000000;
	--b-focus: #88c0d0;
}